.hero-container{
    background: url('../../assets/banner.jpg') no-repeat center center / cover    ;
    background-position: 60%;
    top: 0;
    left: 1;
    width: 100%;
}
.hero-details{
    width: 90%;
    line-height: 1.5;
}
.btn{
    background-color: var(--cart-btn); 
}
@media screen and (max-width:768px){
    h1{
        font-size: 2.2rem;
        font-weight: 600;
    }
    h3{
        font-size: 14px;
        font-weight: 500;
    }
}