
@media screen and (max-width:768px) {
    .menu-container-view{
        display: flex!important;
          align-items: center!important;
          flex: start!important;
          justify-items: start!important;
          position: fixed!important;
          height: 100vh!important;
          top: 0%!important;
          left: 0%!important;
          width:80%!important;
          background-color: transparent!important;
          z-index: 5!important;
    }
    
}